.collapsible {
  background-color: ;
  color: white;
  cursor: pointer;
  padding: 11px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  background-color: #f1f1f1;
  font-weight: bold;
}